.main-container {
    min-height: 100%;
    width: 90%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .div1 {
        width: 100%;
        height: 100px;
        background-color: mediumaquamarine;
    }
    .div2 {
        width: 100%;
        height: 100px;
        background-color: red;
    }
}