<div class="main-container" (window:scroll)="doSomethingOnInternalScroll($event)">

    <div class="div1">

    </div>

    <div class="div2">

    </div>

    <div class="div1">

    </div>

    <div class="div2">

    </div>

    <div class="div1">

    </div>

    <div class="div2">

    </div>


    <div class="div1">

    </div>

    <div class="div2">

    </div>

    <div class="div1">

    </div>

    <div class="div2">

    </div>

    <div class="div1">

    </div>

    <div class="div2">

    </div>

    <div class="div1">

    </div>

</div>